<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="UserMapper">

	<!--查询-->
	<select id="getMUser" resultType="MUser" parameterType="MUser">
		select
			id,name,phone,password,addAt
		from
			T_USER
		where
			<trim prefixOverrides="and">
				<if test="name != null and name != ''">
					name = #{name} and
				</if>
				<if test="password != null and password != ''">
					password = #{password}
				</if>
			</trim>
	</select>


</mapper>